/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.Jcrop
 */

@import 'bootstrap';

$green: #378060;
$red: #f1837b;
$grey: #666;
$white: #fff;

body {
  min-width: 310px;
}

.email {
  margin-top: 20px;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.delete_action {
  color: $red;
  border-bottom: dotted;
  cursor: pointer;
}

.flash {
  color: $white;
  padding: 1em;
  margin: 1em;
  border-radius: 7px;

  &.error {
    background-color: $red;
  }

  &.success {
    background-color: $green;
  }
}

.g-recaptcha {
  display: inline-block;
  margin: 0 auto;

  @media screen and (max-width: 320px) {
    -ms-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}

